/* .grid-container{
    height:92px;
    width:313px;
}  */
.grid-item {
    display: inline-block;
    padding: 10px;
    border: 2px solid darkgray;
    box-shadow: 0 0 10px gray;
    border-radius: 4px;

    img {
        height: 63px;
        width: 63px;
    }
}

#grid_data {
    padding: 0px 0px 0px 30px;
    border: none;
    box-shadow: none;

    span {

        font-size: 20px;
        color: #808080;
    }

    p {
        font-size: 18px;
        color: black;
        font-weight: bold;
    }

}
.course_container{
    border:2px solid darkgray;
    border-radius: 5px;
    background-color: white;
    height:260px;
    width:420px;
    margin:10px;
    padding: 10px;
    margin-top: 25px;
    strong{
        font-weight: bold;
    }
    a {
        text-decoration: none;
        color: #CC3366;
    }
    a:hover {
        color: #1AB69D
    }
    p{
        padding: 10px;
        font-size: 18px;
        font-weight: 300;
    }

    #duration{
        padding: 10px;
        font-size: 16px;
    }
    h3{
        padding:10px;
        font-size: 22px;
    }
    .calender_icon{
        font-size: 18px;
        color:#CC3366;
        padding: 10px;
        
    }
}